@page "/products"

<MudCarousel Class="mud-width-full" Style="height:270px;" ShowArrows="false" ShowBullets="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Src="images/banner/banner1.png" ObjectFit="ObjectFit.Fill" 
                Fluid="true" Class=" mud-width-full rounded-lg" ></MudImage>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Src="images/banner/banner2.png" ObjectFit="ObjectFit.Fill" 
                Fluid="true" Class=" mud-width-full rounded-lg" ></MudImage>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Src="images/banner/banner3.png" ObjectFit="ObjectFit.Fill" 
                Fluid="true" Class=" mud-width-full rounded-lg" ></MudImage>
        </div>
    </MudCarouselItem>
</MudCarousel>